@charset "utf-8";

/*commer css*/
.h10 {
	height: 10px;
	background: #eaeaea;
}
.h44 {
	height: 44px;
	background: #eaeaea;
}

/* header */
.header {
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: #4681ff;
}
.header .title {
	color: #fff;
	font-size: 18px;
}

.car-form h2 {
	color: #333;
	font-size: 16px;
	line-height: 24px;
	padding: 18px 0 10px;
	text-align: center;
	font-weight: bold;
}
.car-num-wrapper {
	padding: 5px 0 15px;
	max-width: 540px;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-around;
	/* align-content: center; */
}
.car-num-wrapper .car-box {
	width: 36px;
	height: 36px;
	color: #333;
	font-weight: bold;
	line-height: 36px;
	font-size: 18px;
	text-align: center;
	box-shadow: 0px 2px 5px #cbcbcb;
	border: 1px solid #cfcfcf;
}
.car-num-wrapper .car-box.active {
	border: 1px solid #4681ff;
}
.select-box {
	padding: 0px 15px 10px;
}
.select-box label {
	float: right;
}

.checkBoxItem {
	display: inline-block;
	width: 28px;
	height: 26px;
	border: 0;
	outline: 0!important;
	margin-bottom: 6px;
	background-color: transparent;
	-webkit-appearance: none;
}
.checkBoxItem::before {
	font-family: Muiicons;
	font-size: 28px;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	color: #aaa;
	border-radius: 0;
	background: 0 0;
	-webkit-font-smoothing: antialiased;
	content: '\e411';
}
.checkBoxItem:checked::before {
	content: '\e442';
}
.checkBoxItem:checked::before {
	color: #007aff;
}

.button-wrapper {
	padding: 30px 30px 10px;
}
.padding-70 {
	padding: 30px 60px 10px;
}
.button {
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0;
	margin: 0;
	font-size: 18px;
	border-radius: 44px;
	color: #fff;
	display: inline-block;
	border: 1px solid #366afc;
	background: linear-gradient(to right, #56a0ff, #3a72fd);
}

.history-list {
	padding: 0 20px;
}
.history-list .title {
	font-size: 13px;
	line-height: 15px;
	padding-bottom: 5px;
	color: #cfcfcf;
	margin-top: 5px;
}
.history-list .list {
	margin-bottom: 20px;
}
.history-list .list li {
	float: left;
	font-size: 13px;
	line-height: 34px;
	margin-right: 8px;
}
.history-list .list li:last-child {
	margin-right: 0;
}
.history-list .list li span {
	padding: 5px 10px;
	margin: auto;
	display: inline;
	line-height: 22px;
	border-radius: 3px;
	border: 1px solid #b6b6b6;
}

/* 虚拟键盘 */
.key-word {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	display: none;
	background: #ccd3d9;
}
.key-word.show {
	display: block;
}
.key-word .midder-wrapper {
	max-width: 540px;
	margin: 0 auto;
}
.key-word .closed-box {
	height: 35px;
	line-height: 35px;
	background: #fff;
	padding: 0 10px;
	border-top: 1px solid #ccd3d9;
}
.key-word .closed-box span {
	float: right;
	padding: 0 10px;
}
.key-word .key-body {
	height: 202px;
	position: relative;
}
.key-word .key-body .del {
	position: absolute;
	bottom: 3px;
	right: 2px;
	text-align: center;
	line-height: 44px;
	color: #000;
	width: 13%;
	font-size: 17px;
	background: #acafbe;
	border-radius: 5px;
	box-shadow: 0px 2px 0px #999;
}
.key-word .key-body .del-01 {
	right: 5px;
}
.key-word .key-body .key-box {
	padding: 2px 0;
	height: 25%;
	display: -webkit-flex; /* Safari */
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}
.key-word .key-body .key-box-90 {
	width: 90%;
}
.key-word .key-body .key-box-80 {
	width: 80%;
}
.key-word .key-body .key-box-70 {
	width: 70%;
}
.key-word .key-body .key-box-50 {
	width: 50%;
}
.key-word .key-body .key-box .key-item {
	flex: 1;
	margin: 0 2px 2px;
	text-align: center;
	line-height: 44px;
	color: #000;
	font-size: 18px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 0px #999;
}
.key-word .key-body .key-box .key-item:active {
	background: #999;
}

/* 确认结果 */
.result-wrapper {
	text-align: center;
	padding-top: 44px;
}
.result-content {
	padding: 40px 8% 0;
}
.result-content .tips {
	font-size: 16px;
	color: #000;
	line-height: 20px;
	margin-bottom: 25px;
}
.result-content .tips-02 {
	color: #333;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 100px;
}

/* 去缴费 */
.pay-content {
	padding: 30px 20px 40px;
	text-align: left;
	/* background: #fff; */
}
.pay-content .pay-box {
	color: #fff;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 4px 20px #cbcbcb;
	overflow: hidden;
}
.pay-content .pay-box-top {
	padding: 20px 30px;
	font-size: 18px;
	line-height: 22px;
	background: linear-gradient(to right,#3a72fd, #56a0ff);
	position: relative;
}
.pay-box-top .park-addr {
	margin-top: 10px;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, .6);
}
.pay-content .pay-box-bottom {
	color: #333;
	font-size: 14px;
	line-height: 18px;
	padding: 25px 30px 30px;
}
.pay-content .pay-list li {
	margin-bottom: 15px;
}
.pay-content .pay-list li:last-child {
	margin-bottom: 0;
}
.pay-content .pay-list li .money {
	color: #f31136;
	margin-right: 30px;
}
.pay-content .pay-list li .money em {
	font-size: 20px;
}
.pay-content .pay-list li .youhui {
	color: #e2aa55;
}
.pay-content .pay-list li.quan >span {
	letter-spacing: 4.5px;
}
.pay-content .pay-list li .quan {
	color: #999;
}

/* 缴费结果 */
.pay-result-content {
	color: #333;
	text-align: center;
	padding: 40px 25px 20px;
}
.pay-result-content .pay-result {
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 15px;
}
.pay-result-content .pay-money {
	font-size: 30px;
	line-height: 38px;
	font-weight: bold;
}
.pay-result-content .pay-money span {
	font-size: 16px;
}
.pay-result-content .pay-way {
	margin-top: 35px;
	padding: 30px 20px;
	border-top: 1px solid #e9e9e9;
}
.pay-result-content .pay-way li {
	text-align: left;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 10px;
}
.pay-result-content .pay-way li span {
	float: right;
}
.color-yellow {
	color: #e29d28;
}